#contactList{
    width: 50px;
    height: 660px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media screen and (max-width: 800px){
    #contactList{
        width: 100%;
    }
}