.experience{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;

}

.experience .date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;

    border-radius: 5px 0 0 5px;
    background-color: var(--text-color);
    color: var(--second-background-color);
    font-weight: bold;
}

.experience .content{
    background-color: #fff;
    border-left: 4px solid var(--text-color);
    padding: 10px;
    height: 60px;
    width: 300px;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    transition: 0.1s;
}

.experience:hover .content{
    transform: translateX(10px);
}

.experience .content span{
    font-weight: bold;
    font-size: 1.2em;
}

@media screen and (max-width: 800px){
    .experience {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 15px;
        width: 100%;
    }
    .experience .content, .experience .date{
        width: 100%;
    }

    .experience .content{
        border-radius: 0 0 5px 5px;
        border: none;
        border-top: 4px solid var(--text-color);
    }

    .experience .date{
        border-radius: 5px 5px 0 0;
        height: 30px;
    }

    .experience:hover .content{
        transform: translateY(-11px);
    }

}